body {
    max-width: 1620px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    height: 750px;
}

hgroup.fonte-cabecalho {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    flex-direction: column;
    color: #FFFFFF;
}

h1#titulo-cabecalho {
    display: flex;
    justify-content: center;
}

h2#sub-titulo-cabecalho {
    display: flex;
    justify-content: center;
}

li #foto-cabecalho {
    width: 308px;
    height: 308px;
    border-radius: 308px;
    border-radius: 308px;
    border: 10px solid #603B94;
    background: #FFF;
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
}

li.foto-cabecalho {
    display: flex;
    justify-content: center;
    position: relative;
}

div.cabecalho {
    height: 753px;
    position: relative;
    margin-top: -378px;
}

div#background {
    background-image: url('/src/imagens/adulto-segurando-bola-de-luz.jpg');
    opacity: 50%;
    background-size: 100%;
}

div.cor-de-fundo{
    background-color: #24647D;
    height: 750px;
    z-index: ;
}

img#meridianos {
    width: 50px;
}