@media(max-width: 1280px) {
    body {
        margin: 0 auto;
    }

    ul.cards {
        width: 100%;
        gap: 50px;
    }

    ul.cards li {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }

    .sobre-mim {
        height: 1400px;
    }

    img#foto-luis {
        width: 320px;
        height: 320px;
    }

    div p#text-luis {
        width: 1000px;
    }

    div.apometria {
        width: 100%;
        margin: 0 auto;
    }

    p#texto {
        width: 1000px;
    }

    div.duvidas {
        width: 100%;
        margin: 0 auto;
    }

    article {
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }

    article li {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    article h2 {
        font-size: 30px;
        width: 300px;
    }

    article p {
        font-size: 17px;
        width: 250px;
    }

    div.cta {
        width: 100%;
        margin: 0 auto;
    }

    ul#cta li {
        width: 1000px;
        margin: 0 auto;
    }

    ul#cta li h1 {
        font-size: 40px;
        width: 380px;
    }

    li#maos p,
    li#silhueta p,
    li#corpos p {
        font-size: 20px;
        width: 350px;
    }

    li#maos img,
    li#silhueta img,
    li#corpos img {
        width: 346px;
        height: 318px;
        margin-top: -500px;
        margin-left: 100px;
    }

    ul#cta li input {
        width: 346px;
        height: 45px;
        display: flex;
        position: relative;
        justify-content: center;
        float: right;
        align-items: center;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
        top: -150px;
    }


    div.depoimentos {
        width: 100%;
        margin: 0 auto;
        height: 3560px;
    }

    .carrossel {
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }

    .carrossel img {
        width: 830px;
    }

    div.botoes-carrossel {
        width: 100%;
    }


    div.botoes-carrossel .botao {
        width: 18px;
        height: 18px;
    }

    footer img {
        width: 40px;
    }

    img#facebook {
        width: 50px;
    }

    .copy p {
        font-size: 14px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p#lucas {
        position: relative;
        text-align: right;
        font-size: 12px;
        margin-left: 900px;
        opacity: 80%;
        margin-bottom: 20px;
    }
}

@media(max-width: 768px) {
    body {
        margin: 0 auto;
    }

    div.cor-de-fundo {
        width: 100%;
        height: 750px;
    }

    div#background {
        width: 100%;
        height: 842px;
        background-size: cover;
    }

    #fonte-cabecalho {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    h1#titulo-cabecalho {
        font-size: 60px;
    }

    h2#sub-titulo-cabecalho {
        font-size: 35px;
    }

    img#foto-cabecalho {
        width: 258px;
        height: 258px;
    }

    ul.cards {
        width: 100%;
        gap: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul.cards li {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        width: 150px;
    }

    img#meridianos,
    img#prosperidade,
    img#bem-estar,
    img#afetivas {
        width: 100.964px;
        height: 100.964px;
        align-items: center;
        margin: 0 auto;
        position: relative;
        justify-content: space-evenly;
    }

    img#meridianos {
        top: -10px;
    }

    nav h1 {
        font-size: 20px;
        width: 200px;
    }

    nav p {
        font-size: 13px;
        width: 100%;
    }

    .sobre-mim {
        height: 100%;
        padding-bottom: 100px;
    }

    img#foto-luis {
        width: 220px;
        height: 220px;
    }

    hgroup h1#luis {
        font-size: 60px;
    }

    hgroup h2#sub-titulo-luis {
        font-size: 40px;
    }

    div p#text-luis {
        width: 650px;
        font-size: 25px;
    }

    div.apometria {
        width: 100%;
        margin: 0 auto;
    }

    h1#o-que-e {
        font-size: 50px;
    }

    p#texto {
        width: 650px;
        font-size: 25px;
    }

    div.duvidas {
        width: 100%;
        margin: 0 auto;
    }

    h1#duvidas {
        font-size: 50px;
    }

    article {
        width: 500px;
        column-gap: 100px;
        margin: 0 auto;
    }

    article li {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    article h2 {
        font-size: 20px;
        width: 150px;
    }

    article p {
        font-size: 13px;
        width: 130px;
    }

    div.cta {
        width: 100%;
        margin: 0 auto;
        height: 1900px;
    }

    ul#cta {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
    }

    ul#cta li {
        width: 100%;
        margin: 0 auto;
        top: 80px;
        margin-bottom: -30px;
        padding: 80px;
        align-items: center;
    }

    ul#cta li h1 {
        font-size: 30px;
        width: 250px;
        bottom: 25px;
    }

    li#maos p,
    li#silhueta p,
    li#corpos p {
        font-size: 15px;
        width: 250px;
    }

    li#maos img,
    li#silhueta img,
    li#corpos img {
        width: 276px;
        height: 248px;
        margin-top: -450px;
        margin-left: 50px;
    }

    ul#cta li input {
        width: 276px;
        height: 45px;
        display: flex;
        position: relative;
        justify-content: center;
        float: right;
        align-items: center;
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        top: -170px;
    }


    div.depoimentos {
        width: 100%;
        margin: 0 auto;
        height: 3100px;
    }

    div.depoimentos h1 {
        font-size: 45px;
        width: 600px;
    }

    .carrossel {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: -50px;
    }

    .carrossel img {
        width: 680px;
    }

    div.botoes-carrossel {
        width: 100%;
    }


    div.botoes-carrossel .botao {
        width: 15px;
        height: 15px;
    }

    footer {
        width: 100%;
        height: 150px;
    }

    footer ul{
        margin-top: -50px;
    }

    footer img {
        width: 30px;
    }

    img#facebook {
        width: 40px;
    }

    .copy p {
        font-size: 14px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p#lucas {
        margin: 0 auto;
        font-size: 12px;
        top: 10px;
        opacity: 80%;
        width: 300px;
    }
}

@media (max-width: 425px) {
    body {
        margin: 0 auto;
    }

    div.cor-de-fundo {
        width: 100%;
        height: 542px;
    }

    div#background {
        width: 100%;
        height: 728px;
    }

    #fonte-cabecalho {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    h1#titulo-cabecalho {
        font-size: 40px;
    }

    h2#sub-titulo-cabecalho {
        font-size: 25px;
    }

    img#foto-cabecalho {
        width: 200px;
        height: 200px;
    }

    ul.cards {
        width: 100%;
        gap: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul.cards li {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        width: 150px;
    }

    img#meridianos,
    img#prosperidade,
    img#bem-estar,
    img#afetivas {
        width: 100.964px;
        height: 100.964px;
        align-items: center;
        margin: 0 auto;
        position: relative;
        justify-content: space-evenly;
    }

    img#meridianos {
        top: -10px;
    }

    nav h1 {
        font-size: 20px;
        width: 200px;
    }

    nav p {
        font-size: 13px;
        width: 100%;
    }

    .sobre-mim {
        height: 100%;
        padding-bottom: 100px;
    }

    img#foto-luis {
        width: 220px;
        height: 220px;
    }

    hgroup h1#luis {
        font-size: 60px;
    }

    hgroup h2#sub-titulo-luis {
        font-size: 40px;
    }

    div p#text-luis {
        width: 650px;
        font-size: 25px;
    }

    div.apometria {
        width: 100%;
        margin: 0 auto;
    }

    h1#o-que-e {
        font-size: 50px;
    }

    p#texto {
        width: 650px;
        font-size: 25px;
    }

    div.duvidas {
        width: 100%;
        margin: 0 auto;
    }

    h1#duvidas {
        font-size: 50px;
    }

    article {
        width: 500px;
        column-gap: 100px;
        margin: 0 auto;
    }

    article li {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    article h2 {
        font-size: 20px;
        width: 150px;
    }

    article p {
        font-size: 13px;
        width: 130px;
    }

    div.cta {
        width: 100%;
        margin: 0 auto;
        height: 1900px;
    }

    ul#cta {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
    }

    ul#cta li {
        width: 100%;
        margin: 0 auto;
        top: 80px;
        margin-bottom: -30px;
        padding: 80px;
        align-items: center;
    }

    ul#cta li h1 {
        font-size: 30px;
        width: 250px;
        bottom: 25px;
    }

    li#maos p,
    li#silhueta p,
    li#corpos p {
        font-size: 15px;
        width: 250px;
    }

    li#maos img,
    li#silhueta img,
    li#corpos img {
        width: 276px;
        height: 248px;
        margin-top: -450px;
        margin-left: 50px;
    }

    ul#cta li input {
        width: 276px;
        height: 45px;
        display: flex;
        position: relative;
        justify-content: center;
        float: right;
        align-items: center;
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        top: -170px;
    }


    div.depoimentos {
        width: 100%;
        margin: 0 auto;
        height: 3100px;
    }

    div.depoimentos h1 {
        font-size: 45px;
        width: 600px;
    }

    .carrossel {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: -50px;
    }

    .carrossel img {
        width: 680px;
    }

    div.botoes-carrossel {
        width: 100%;
    }


    div.botoes-carrossel .botao {
        width: 15px;
        height: 15px;
    }

    footer {
        width: 100%;
        height: 150px;
    }

    footer ul{
        margin-top: -50px;
    }

    footer img {
        width: 30px;
    }

    img#facebook {
        width: 40px;
    }

    .copy p {
        font-size: 14px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p#lucas {
        margin: 0 auto;
        font-size: 12px;
        top: 10px;
        opacity: 80%;
        width: 300px;
    }
}