@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    /* -----------------Cabeçalho----------------- */
    header input {
        width: 416px;
        height: 50px;
        margin: 0 auto;
        display: block;
        font-size: 22.2px;
    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
        margin-bottom: 10%;
        justify-content: center;
        background-image: url(../imagens/sri-yantra.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: bottom;
        opacity: 20%;
        z-index: 0;
    }

    /* ----------nav(Biografia e cards)---------- */
    img#douglas {
        width: 422px;
        margin: 0% 21.87%;
    }

    div.bio-douglas h1 {
        font-size: 75px;
    }

    div.bio-douglas h2 {
        font-size: 35px;
    }

    hgroup.douglas p {
        font-size: 18px;
    }

    /* ----------nav(Cards)---------- */
    div.cards img {
        margin: 0% 25%;
    }

    /* -----------------main(Carrossel)----------------- */
    div.botoes-carrossel button {
        font-size: 18px;
        padding: 1% 5%;
    }

    div.texto h1 {
        font-size: 40px;
    }

    div.texto p {
        font-size: 18px;
    }

    /* -----------------main(Dúvidas Frequêntes)----------------- */
    div.duvidas li h1 {
        font-size: 18px;
    }

    div.duvidas li p {
        font-size: 11px;
    }

    h1#duvidas-frequentes {
        font-size: 50px;
    }

    /* -----------------main(cta)----------------- */
    div.cta ul {
        width: 100%;
        height: 100%;
    }

    div.cta li {
        column-count: 2;
        width: 85%;
        height: 100%;
        margin: 0 auto;
    }

    li#terapia-para-casais,
    li#terapia-individual {
        height: 100%;
    }

    li#terapia-para-casais h1,
    li#terapia-individual h1 {
        font-size: 50px;
    }

    li#terapia-para-casais p,
    li#terapia-individual p {
        font-size: 16.62px;
    }

    li#terapia-para-casais input,
    li#terapia-individual input {
        width: 284px;
        height: 45px;
        font-size: 18px;
        margin-left: 8%;
        margin-bottom: 30%;
    }

    li#terapia-para-casais img {
        width: 320px;
        border: 8px solid #691D02;
        margin-top: 50%;
    }

    li#terapia-individual img {
        width: 320px;
        border: 8px solid #691D02;
        margin-top: 40%;
    }

    /* ----------------main(Depoimentos)---------------- */
    .imagem img {
        margin-top: 10%;
    }

    div.depoimentos h1 {
        font-size: 50px;
    }

    div.depoimentos h2 {
        font-size: 30px;
    }

    .imagem img {
        width: 611px;
    }

    /* -----------------main(cta2)----------------- */
    li#seja-um-aluno input,
    li#agende-sua-sessao input {
        width: 284px;
        height: 50px;
        font-size: 18px;
        margin-bottom: 40%;
    }

    li#seja-um-aluno img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 60%;
    }

    li#agende-sua-sessao img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 40%;
    }

    li#seja-um-aluno h1,
    li#agende-sua-sessao h1 {
        font-size: 45px;
        padding-bottom: 2%;
    }

    li#seja-um-aluno p,
    li#agende-sua-sessao p {
        font-size: 16.62px;
        width: 80%;
    }

    li#seja-um-aluno,
    li#agende-sua-sessao {
        padding-top: 0%;
    }

    /* ------------------Rodapé------------------ */
    footer {
        background-color: #824129;
        padding: 5% 0%;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 425px) {
    body {
        width: 100%;
    }

    /* -----------------Cabeçalho----------------- */
    hgroup.cabecalho {
        width: 90%;
    }

    hgroup.cabecalho h1 {
        font-size: 50px;
    }

    hgroup.cabecalho h2 {
        font-size: 30px;
    }

    hgroup.cabecalho h3 {
        font-size: 18px;
        width: 100%;
    }

    hgroup.cabecalho p {
        font-size: 13px;
    }

    header input {
        width: 316px;
        height: 40px;
        margin: 0 auto;
        font-size: 17.5px;
        display: block;

    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
        margin-bottom: 80%;
        justify-content: center;
        background-image: url(../imagens/sri-yantra.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: bottom;
        opacity: 20%;
        z-index: 0;
    }

    /* ----------nav(Biografia e cards)---------- */
    img#douglas {
        width: 322px;
        display: block;
        margin: 0 auto;
    }

    div.bio-douglas h1 {
        font-size: 55px;
    }

    div.bio-douglas h2 {
        font-size: 30px;
    }

    hgroup.douglas p {
        font-size: 15px;
    }

    /* ----------nav(Cards)---------- */
    div.cards img {
        width: 90px;
        margin: 0% 21%;
    }

    div.cards li h1 {
        font-size: 15px;
    }


    div.cards li p {
        font-size: 11px;
        width: 80%;
    }

    /* -----------------main(Carrossel)----------------- */
    div.botoes-carrossel button {
        font-size: 10px;
        padding: 0% 4%;
    }

    div.texto h1 {
        font-size: 40px;
        padding-top: 5%;
    }

    h1#como-funciona {
        font-size: 32px;
    }

    div.texto p {
        font-size: 15px;
    }

    /* -----------------main(Dúvidas Frequêntes)----------------- */
    div.duvidas li h1 {
        font-size: 18px;
    }

    div.duvidas li p {
        font-size: 12px;
        padding-top: 5%;
    }

    h1#duvidas-frequentes {
        font-size: 50px;
    }

    div.duvidas ul {
        column-count: 2;
        column-gap: 10%;
        padding: 10% 0%;
    }

    div.duvidas li {
        height: 28em;
        padding-bottom: 10%;
    }

    /* -----------------main(cta)----------------- */
    div.cta ul {
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 30%;
    }

    div.cta li {
        column-count: 1;
        width: 90%;
        height: 100%;
        display: block;
        text-align: center;
    }

    li#terapia-para-casais,
    li#terapia-individual {
        height: 100%;
    }

    li#terapia-individual {
        padding-top: 30%;
    }

    li#terapia-para-casais h1,
    li#terapia-individual h1 {
        font-size: 35px;
    }

    li#terapia-para-casais p,
    li#terapia-individual p {
        font-size: 15.62px;
        margin: 0 auto;
        padding-top: 5%;
    }

    li#terapia-para-casais input,
    li#terapia-individual input {
        width: 254px;
        height: 45px;
        font-size: 20px;
        margin: 0 auto;
        margin-top: 8%;
    }

    li#terapia-para-casais img {
        width: 280px;
        border: 8px solid #691D02;
        margin-top: 10%;
    }

    li#terapia-individual img {
        width: 280px;
        border: 8px solid #691D02;
        margin-top: 10%;
    }

    /* ----------------main(Depoimentos)---------------- */
    .carrosselt {
        height: 100%;
        padding-bottom: 12%;
    }

    div.depoimentos h1 {
        font-size: 38px;
    }

    div.depoimentos h2 {
        font-size: 25px;
    }

    .imagem img {
        margin-top: 10%;
        text-align: center;
        width: 380px;
        transition: 0.5s ease-in-out;
    }

    .imagem img:hover {
        transform: scale(1.3);
    }

    .botoes-carrosselt .botaot {
        width: 38px;
        height: 10px;
    }

    /* -----------------main(cta2)----------------- */
    div.cta2 {
        background-color: #D9D9D9;
        height: 100%;
        padding: 10% 0% 0% 0%;
    }

    div.cta2 li {
        column-count: 1;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    li#seja-um-aluno input,
    li#agende-sua-sessao input {
        width: 264px;
        height: 45px;
        font-size: 17.9px;
        margin-bottom: 40%;
    }

    li#seja-um-aluno img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    li#agende-sua-sessao img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    li#seja-um-aluno h1,
    li#agende-sua-sessao h1 {
        font-size: 45px;
        padding-bottom: 2%;
    }

    li#seja-um-aluno p,
    li#agende-sua-sessao p {
        font-size: 16.62px;
        width: 80%;
        margin: 0 auto;
    }

    li#seja-um-aluno,
    li#agende-sua-sessao {
        padding-top: 0%;
    }

    /* ------------------Rodapé------------------ */
    footer {
        background-color: #824129;
        padding: 5% 0% 0% 0%;
        width: 100%;
        height: 100%;
    }

    div.icons {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
        gap: 15%;
        padding-bottom: 5%;
        padding-left: 0%;
        padding-top: 0%;
    }

    p#copy {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 0%;
        color: rgba(0, 0, 0, 0.90);
        text-align: center;
        font-family: Allerta;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 5%;
    }

    hgroup.footer2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        column-count: 2;
        padding-right: 0%;
    }

    hgroup.footer2 p {
        color: #000;
        text-align: center;
        font-family: Allerta;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 8%;
        text-align: center;
        margin: 0 auto;
    }

    p#lucas {
        width: 100%;
        float: none;
        color: rgba(0, 0, 0, 0.90);
        text-align: center;
        font-family: Allerta;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 80%;
        padding-bottom: 2%;
    }
}

@media (max-width: 376px) {
    body {
        width: 100%;
    }

    /* -----------------Cabeçalho----------------- */
    hgroup.cabecalho {
        width: 90%;
    }

    hgroup.cabecalho h1 {
        font-size: 40px;
    }

    hgroup.cabecalho h2 {
        font-size: 25px;
    }

    hgroup.cabecalho h3 {
        font-size: 16px;
        width: 100%;
    }

    hgroup.cabecalho p {
        font-size: 13px;
    }

    header input {
        width: 280px;
        height: 40px;
        margin: 0 auto;
        font-size: 16px;
        display: block;
    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
        margin-bottom: 80%;
        justify-content: center;
        background-image: url(../imagens/sri-yantra.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: bottom;
        opacity: 20%;
        z-index: 0;
    }

    /* ----------nav(Biografia e cards)---------- */
    img#douglas {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    div.bio-douglas h1 {
        font-size: 45px;
    }

    div.bio-douglas h2 {
        font-size: 25px;
    }

    hgroup.douglas p {
        font-size: 15px;
    }

    /* ----------nav(Cards)---------- */
    div.cards img {
        width: 90px;
        margin: 0% 21%;
    }

    div.cards li h1 {
        font-size: 15px;
    }


    div.cards li p {
        font-size: 11px;
        width: 80%;
    }

    /* -----------------main(Carrossel)----------------- */
    div.botoes-carrossel button {
        font-size: 10px;
        padding: 0% 3%;
        height: 40px;
        border-top: 1px solid #312828;
        border-right: 1px solid #312828;
        border-bottom: 4px solid #312828;
        border-left: 4px solid #312828;
    }

    div button#botao {
        margin: 0% 0% 0% 0%;
        border-radius: 0px 0px 50px 50px;
        border-right: 4px solid #312828;
    }

    div.texto h1 {
        font-size: 40px;
        padding-top: 5%;
    }

    h1#como-funciona {
        font-size: 32px;
    }

    div.texto p {
        font-size: 15px;
    }

    /* -----------------main(Dúvidas Frequêntes)----------------- */
    div.duvidas li h1 {
        font-size: 18px;
    }

    div.duvidas li p {
        font-size: 12px;
        padding-top: 10%;
    }

    h1#duvidas-frequentes {
        font-size: 40px;
    }

    div.duvidas ul {
        column-count: 2;
        column-gap: 10%;
        padding-bottom: 10%;
    }

    div.duvidas li {
        height: 28em;
    }

    /* -----------------main(cta)----------------- */
    div.cta ul {
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 30%;
    }

    div.cta li {
        column-count: 1;
        width: 90%;
        height: 100%;
        display: block;
        text-align: center;
    }

    li#terapia-para-casais,
    li#terapia-individual {
        height: 100%;
    }

    li#terapia-individual {
        padding-top: 30%;
    }

    li#terapia-para-casais h1,
    li#terapia-individual h1 {
        font-size: 35px;
    }

    li#terapia-para-casais p,
    li#terapia-individual p {
        font-size: 15.62px;
        margin: 0 auto;
        padding-top: 5%;
    }

    li#terapia-para-casais input,
    li#terapia-individual input {
        width: 254px;
        height: 45px;
        font-size: 20px;
        margin: 0 auto;
        margin-top: 8%;
    }

    li#terapia-para-casais img {
        width: 280px;
        border: 8px solid #691D02;
        margin-top: 10%;
    }

    li#terapia-individual img {
        width: 280px;
        border: 8px solid #691D02;
        margin-top: 10%;
    }

    /* ----------------main(Depoimentos)---------------- */
    .carrosselt {
        height: 100%;
        padding-bottom: 12%;
    }

    div.depoimentos h1 {
        font-size: 35px;
    }

    div.depoimentos h2 {
        font-size: 25px;
    }

    .imagem img {
        margin-top: 10%;
        padding-top: 0%;
        margin: 0 auto;
        width: 338.99px;
        transition: 0.5s ease-in-out;
    }

    .imagem img:hover {
        transform: scale(1.2);
    }

    .botoes-carrosselt .botaot {
        width: 38px;
        height: 10px;
    }

    /* -----------------main(cta2)----------------- */
    div.cta2 {
        background-color: #D9D9D9;
        height: 100%;
        padding: 10% 0% 0% 0%;
    }

    div.cta2 li {
        column-count: 1;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    li#seja-um-aluno input,
    li#agende-sua-sessao input {
        width: 264px;
        height: 45px;
        font-size: 17.9px;
        margin-bottom: 40%;
    }

    li#seja-um-aluno img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    li#agende-sua-sessao img {
        width: 296px;
        border: 8px solid #691D02;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    li#seja-um-aluno h1,
    li#agende-sua-sessao h1 {
        font-size: 38px;
        padding-bottom: 2%;
    }

    li#seja-um-aluno p,
    li#agende-sua-sessao p {
        font-size: 16.62px;
        width: 80%;
        margin: 0 auto;
    }

    li#seja-um-aluno,
    li#agende-sua-sessao {
        padding-top: 0%;
    }

    /* ------------------Rodapé------------------ */
    footer {
        background-color: #824129;
        padding: 5% 0% 0% 0%;
        width: 100%;
        height: 100%;
    }

    div.icons {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
        gap: 15%;
        padding-bottom: 5%;
        padding-left: 0%;
        padding-top: 0%;
    }

    p#copy {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 0%;
        color: rgba(0, 0, 0, 0.90);
        text-align: center;
        font-family: Allerta;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 5%;
    }

    hgroup.footer2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        column-count: 2;
        padding-right: 0%;
    }

    hgroup.footer2 p {
        color: #000;
        text-align: center;
        font-family: Allerta;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 8%;
        text-align: center;
        margin: 0 auto;
    }

    p#lucas {
        width: 100%;
        float: none;
        color: rgba(0, 0, 0, 0.90);
        text-align: center;
        font-family: Allerta;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 80%;
        padding-bottom: 2%;
    }
}